<!--Child-->

<form [formGroup]="loginForm">
  <h3>Hell0, lets try Login, using Angular</h3>
  <br />
  <div>
    <label for="username">Username</label>
    <input
      required
      type="text"
      id="username"
      name="username"
      autocomplete="username"
      placeholder="Enter your username"
      formControlName="username"
      minlength="3"
      maxlength="12"
    />
    <div
      class="info"
      *ngIf="username.invalid && (username.dirty || username.touched)"
    >
      <i *ngIf="username.errors.required">Username is required.</i>
      <i *ngIf="username.errors.minlength"
        >Username must be atleast 3 characters.</i
      >
    </div>
  </div>

  <div>
    <label for="password">Password</label>
    <input
      required
      type="password"
      id="password"
      name="password"
      autocomplete="current-password"
      placeholder="Enter your password"
      formControlName="password"
      minlength="6"
      maxlength="12"
    />
    <div
      class="info"
      *ngIf="password.invalid && (password.dirty || password.touched)"
    >
      <i *ngIf="password.errors.required">password is required.</i>
      <i *ngIf="password.errors.minlength"
        >password must be atleast 6 characters.</i
      >
    </div>
  </div>

  <button
    type="button"
    [disabled]="loginForm.invalid || isLoading"
    (click)="onLoginClicked()"
  >
    Login
  </button>
  <div class="info" *ngIf="isLoading">
    <h3>Attempting Login...</h3>
  </div>
  <div class="info" *ngIf="loginMessage || loginError">
    <h2>{{ loginMessage }}</h2>
    <h4>{{ loginError }}</h4>
  </div>

  <!--redir /register-->
  <br><br>
  <span>
  <a href="/register">"I should register before I login"</a>
</span>
</form>
