<div>
  <h3>Surveys Available</h3>
  <app-survey-list-item *ngFor="let survey of surveys"
  (clickSurvey)="onSurveyClicked($event)"
  [survey]="survey"></app-survey-list-item>

<div *ngIf="surveyListError">
 <h4> {{ surveyListError }} </h4>
</div>

</div>
