<nav>
    <ul>
    <li><a [routerLink]="['/dashboard']" >Dashboard</a></li>
    <li><a [routerLink]="['/surveys']" >Surveys</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Menu</a>
      <div class="dropdown-content">
        <a [routerLink]="['/dashboard']" >Dashboard</a>
        <a [routerLink]="['/surveys']" >Surveys </a>
        <!-- <a [routerLink]="['/surveys/surveyId']" >Surveys by Id </a> -->
        
      </div>
    </li>
  </ul>
</nav>



<router-outlet></router-outlet>

