<div class="info" (click)="onSurveyItemClicked()">
  <dl>
    <dt>{{survey.title}}</dt>
    <small>By: {{ survey.user.username }} </small>
    <dd> Description:  {{ survey.description }} </dd>
  </dl>  
</div>